<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<table class="table-showheaders">
    <tr>
        <th class="table-showheaders-th1">Name</th>
        <th class="table-showheaders-th2">Value</th>
    </tr>
    {{ range $key, $value := . }}
        <tr>
            <td>{{ $key }}</td>
            <td>{{ $value }}</td>
        </tr>
    {{ end}}
</table>
</body>
</html>